<div class="card">
  <article class="snippet">
    <img
      src="{{ post.data.img }}"
      alt="{% if post.data.imgalt %}{{
        post.data.imgalt
      }}{% else %} Cover Image {% endif %}"
    />
    <div class="data">
      <time datetime="{{ post.date | htmlDateString }}">{{
        post.data.date | readableDate
      }}</time>
      <h3>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h3>
      <p>{{ post.data.description }}</p>
      <a href="{{ post.url }}" class="btn">Continue Reading</a>
    </div>
  </article>
</div>
