@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr1: #203656;
  --clr2: #5c697b;
  --clr3: #f1f5fd;
  --clr4: #6a8d92;

  --shadow: 7.88677px 59.4794px 138px rgba(0, 0, 0, 0.04),
    5.1118px 38.5515px 80.8194px rgba(0, 0, 0, 0.028287),
    3.03787px 22.9106px 43.9556px rgba(0, 0, 0, 0.0216296),
    1.57735px 11.8959px 22.425px rgba(0, 0, 0, 0.01775),
    0.642626px 4.84647px 11.2444px rgba(0, 0, 0, 0.0143704),
    0.146051px 1.10147px 5.43056px rgba(0, 0, 0, 0.00921296);
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", "Montserrat", sans-serif;
  background: white;
  color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.7rem 0 0.8rem;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--clr1);
}

a:hover,
a:focus {
  color: var(--clr4);
}

section {
  margin: 25px 0;
  padding: 0 30px;
}

blockquote {
  background: #fff;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* General Styles */

.page_title {
  font-weight: 700;
  color: var(--clr1);
  margin-bottom: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.flex {
  display: flex;
}

.btn {
  background: #fff;
  border: 1px solid var(--clr1);
  border-radius: 5px;
  box-shadow: var(--shadow);
  padding: 5px;
  width: max-content;
}

.btn:hover {
  background: var(--clr1);
  color: var(--clr3);
  cursor: pointer;
}

.btn a:hover {
  color: var(--clr3);
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 30px;
}

.logo {
  margin: 0;
  color: var(--clr1);
  font-weight: 700;
  font-size: 1.2rem;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.nav li {
  list-style: none;
}

.nav a {
  color: var(--clr2);
  background: linear-gradient(currentColor 0 0) 0 100% / var(--d, 0) 3px
    no-repeat;
  transition: 0.5s;
}

.nav a:hover,
.nav a:focus {
  color: var(--clr1);
  font-weight: 500;
  --d: 100%;
}

@media (max-width: 640px) {
  .navbar {
    gap: 0.7em;
    flex-direction: column;
  }
  .nav {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 0;
  }
}

/* Hero */

.hero {
  background: var(--clr3);
  border-radius: 10px;
  padding: 40px 30px;
  margin-top: 0;
}

.hero .title {
  font-weight: 600;
  color: var(--clr1);
}

.hero p {
  max-width: 32rem;
}

/* Card */

.card_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.card {
  list-style: none;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

.card:hover,
.card:focus {
  transform: translateY(-2px);
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  height: 300px;
}

.snippet .data {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.data p {
  margin: 0;
}

.data h3 {
  margin: 0.25rem 0;
}

.data a {
  color: var(--clr1);
}

.data a:hover {
  color: var(--clr4);
}

.data .btn:hover {
  color: var(--clr3);
}

@media (max-width: 640px) {
  .card_list {
    grid-template-columns: 1fr;
  }
}

/* Featured - Section */

.featured {
  display: flex;
  gap: 20px;
}

.posts {
  flex-grow: 1;
}

.posts .page_title {
  margin-bottom: 0;
}

@media (max-width: 640px) {
  .featured {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 1024px) {
  .featured {
    flex-direction: column;
  }
}

/* Sidebar */

.sidebar {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.taglist {
  display: flex;
  flex-wrap: wrap;
  margin-top: 85px;
  border-radius: 10px;
  flex-direction: column;
  gap: 10px;
  box-shadow: var(--shadow);
  padding: 20px;
}

.taglist h3 {
  text-align: center;
}

.taglist svg {
  margin: 0 auto;
}

.taglist .tags {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.taglist .tags a {
  border: 1px solid var(--clr1);
  padding: 5px;
  border-radius: 5px;
}

@media (max-width: 640px) {
  .taglist {
    margin-top: 0;
  }
}

@media (max-width: 1024px) {
  .taglist {
    margin-top: 0;
  }
  .taglist .tags {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }
}

/* Newsletter */

.newsletter {
  padding: 10px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
}

.newsletter h4 {
  text-align: center;
}

.newsletter svg {
  margin: 0 auto 5px;
}

.newsletter input {
  border-radius: 5px;
  box-shadow: var(--shadow);
  padding: 5px;
  border: 2px solid var(--clr1);
}

.newsletter i {
  margin-left: 5px;
}

.newsletter form {
  display: flex;
  gap: 5px;
}

.newsletter input:nth-child(1) {
  width: max-content;
}

.newsletter input:nth-child(2) {
  background: #fff;
}

.newsletter input:nth-child(2):hover {
  background: var(--clr1);
  color: var(--clr3);
  cursor: pointer;
}

/* Post */

.post .nextpost li {
  list-style-type: none;
}

.tag-list {
  display: flex;
  gap: 5px;
}

.tag-list a {
  border: 1px solid var(--clr1);
  padding: 5px;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.tag-list a:hover {
  border: 1px solid var(--clr4);
}

/* Footer */

footer {
  display: flex;
  background: var(--clr3);
  padding: 15px 30px;
  margin-top: auto;
}

footer p {
  margin-bottom: 0;
}

.links {
  margin-left: auto;
  display: flex;
  gap: 5px;
}

.links svg:hover,
.links svg:focus {
  transform: translateY(-2px);
}

@media (max-width: 640px) {
  footer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .links {
    margin: 0;
  }
}
